body {
    margin: 0;
    font-family: 'Montserrat', serif;
    background-color: #f6f6f6;
}

h1 {
    color: #0984e3;
    font-size: 5.625rem;
    margin: 130px 0 20px 0;
    text-align: center;
    font-family: 'Montserrat', serif;
    font-weight: bold;

}

h2 {
    color: #0984e3;
    margin: 50px auto 30px 40px;
    text-align: left;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

p {
    margin: 10px 10% 10px 5%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    text-align: left;
}

a {
    text-decoration: none;
}


ul li {
    list-style: none;
}

span {
    margin-left: -15px;
    content: "\275A";
    color: #0984e3;
}


.row {
    margin: 50px;
}

.titulo {
    margin-top: 10%;
    color: #0984e3;
}

.figure {
    width:35%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right:25px;
}

.nav-letter{
    color: #fff;
    font-weight: bold;
}

.footer-text{
    text-align: center;
}

.table-pds{
    margin-top:50px;
}
.icon{
    color: #fff;
    
}

.image-title{
    font-size:1rem;
    text-align: center;
}

.testimonial{
    padding-top: 50px;
}

.testimonial .col-5{
    text-align: center;
    padding:40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-5 img{
    width:90px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:50%;
}

.testimonial .col-5:hover{
    transform: translateY(-10px);
}

.fa.fa-motorcycle{
    font-size:34px;
    color:#0984e3;
}

.col-5 p{
    font-size:12px;
    margin:12px 0;
    color:#777;
}

.testimonial .col-5 h3{
    font-weight: 600;
    color:#555;
    font-size: 16px;
}




#principal {
    text-align: center;
    background-color: #fff;
}

#brief{
    padding-top:10px;
}

#estadodelarte{
    padding-top:10px;
}



#footer{
    padding:15px;
    color: #fff;
    font-weight: bold;
    background-color: #007bff;
    
}